:root {
  --width-menu: 1300px;
  --size-logo: 70px;
  --width-search: 300px;
}

/* css menu */
.menu-main {
  background-color: #d4d4d4;
}

.menu-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: var(--width-menu);
  margin: 0 auto;
  align-items: center;
}

.menu-logo img {
  height: var(--size-logo);
}

.menu-list {
  display: flex;
}

.menu-item a {
  padding: 30px 50px;
  font-size: 18px;
  display: block;
}

.menu-item a:hover {
  background-color: #e7e7e7;
  transition: all 0.1s linear;
}

.menu-fun,
.search-products form {
  display: flex;
  align-items: center;
}

.menu-fun {
  column-gap: 30px;
}

.search-products form {
  height: 30px;
}

#search {
  font-size: 18px;
  height: 100%;
  width: var(--width-search);
  margin-right: 5px;
  outline: none;
  border: #000000 1px solid;
  padding-left: 5px;
}

.search-products button {
  background-color: transparent;
  border: none;
}

.search-products i,
.cart-products i,
.account i {
  font-size: 23px;
  cursor: pointer;
}

/* css option login */
.account{
  position: relative;
}

.option-login{
  position: absolute;
  top: 35px;
  left: -30px;
  background-color: #e7e7e7;
  visibility: hidden;
  z-index: 99;
  transform: scale(0);
  transform-origin: 10px 10px;
  transition: transform 0.3s ease-in-out;
}

.account a:hover + .option-login{
  visibility: visible;
  transform: scale(1);
}

.option-login::before{
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  transform: translate(100%, -100%);
  border-bottom: 10px solid #e7e7e7;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

.option-login::after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 20px;
  transform: translateY(-100%);
}

.item-login a{
  display: block;
  white-space: nowrap;
  padding: 15px 20px;
}

.item-login a:hover{
  background-color: rgb(230, 230, 230);
  color: #46d0cb;
}

.account:hover .option-login {
  visibility: visible;
  transform: scale(1);
  transition-delay: 0.2s; 
}