.order-container {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    margin-top: 50px;
    
    p {
      font-size: 18px;
      margin: 5px 0;
      
    }
  }
  