@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px; }

:root {
  --max-width: 1200px;
  --size-img: 400px;
  --size-imgDetail: 600px;
  --size-itemImg: 100px; }

/* css title page link */
.title-wrapper {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 50px 0; }

.tthome,
.ttShop {
  color: gray;
  margin-right: 20px; }

.ttProduct {
  padding: 10px 0px 10px 20px;
  border-left: 2px solid #9f9f9f; }

.title-wrapper i {
  margin-right: 20px; }

/* css information of product */
.product-container {
  padding-top: 50px;
  padding-bottom: 100px;
  border-bottom: 1px solid #d9d9d9; }

.product-wrapper {
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  column-gap: 150px; }

.list-img_product {
  display: flex;
  flex-direction: column;
  row-gap: 20px; }

.img-item {
  height: var(--size-itemImg);
  width: var(--size-itemImg);
  background-color: #e6e6e6;
  border-radius: 10px;
  cursor: pointer; }

.img-item:hover {
  background-color: #cecdcd;
  transition: all 0rgb 201, 201, 201 ar; }

.img-item img {
  height: 100%;
  max-width: 100%; }

.imgs-product {
  display: flex;
  column-gap: 50px; }

.img-show {
  background-color: #e6e6e6;
  border-radius: 10px;
  padding: 20px 0;
  height: var(--size-img);
  width: var(--size-img); }

.img-show img {
  height: 100%;
  user-select: none; }

/* css phần hiện ảnh chi tiết */
.img-detail {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(128, 128, 128, 0.644);
  display: none;
  z-index: 100; }

.img-detail i {
  font-size: 25px;
  cursor: pointer;
  color: white;
  background-color: #424242;
  padding: 10px; }

.prev,
.next {
  position: absolute;
  top: 50%;
  margin: 30px; }

.next {
  right: 0; }

.img-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  height: var(--size-imgDetail);
  width: var(--size-imgDetail); }

.img-wrapper img {
  height: 100%;
  user-select: none; }

/* css product description */
.name-product {
  font-size: 40px;
  font-weight: normal;
  margin: 10px 0; }

.price-product {
  color: #9f9f9f;
  font-size: 25px;
  margin-bottom: 10px; }

.product-overview {
  margin: 30px 0;
  text-align: justify;
  font-size: 16px; }

/*drop-down*/
.selection {
  margin-bottom: 20px; }

.custom-dropdown {
  position: relative;
  width: 150px;
  height: 36px;
  background-color: #f5f5f5;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 2%; }

.custom-dropdown select {
  width: 100%;
  height: 100%;
  padding: 8px;
  border: none;
  background-color: transparent;
  font-size: 18px;
  color: #333;
  user-select: none;
  outline: none; }

.quantity {
  border: transparent;
  position: relative;
  width: 130px;
  height: 36px;
  background-color: #f5f5f5;
  border-radius: 4px;
  overflow: hidden;
  padding: 0 10px;
  font-size: 18px;
  outline: none; }

/* css btn add to cart */
#cart-btn {
  z-index: 1;
  position: relative;
  color: #000000;
  padding: 20px 40px;
  outline: none;
  background-color: transparent;
  border: 1px solid gray;
  transition: all 0.25s ease-in-out; }

#cart-btn::before {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background-color: #9f9f9f;
  transform-origin: center bottom;
  transform: scaleY(0);
  transition: transform 0.25s ease-in-out; }

#cart-btn:hover {
  cursor: pointer;
  color: #fff; }

#cart-btn:hover::before {
  transform-origin: center top;
  transform: scaleY(1); }

.btn-wrapper {
  display: flex;
  column-gap: 50px; }

/*description*/
.description-wrapper {
  max-width: var(--max-width);
  margin: 0 auto; }

.toggle-buttons {
  display: flex;
  justify-content: center; }

.toggle-buttons button {
  color: #9f9f9f;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: bold; }

.toggle-buttons button.active {
  color: black; }

#description-section,
#additional-info-section {
  margin: 3% 10%; }

#additional-info-section {
  display: none; }

button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none; }

.front-back {
  display: flex;
  justify-content: center;
  column-gap: 40px; }

.front-img {
  width: 20%;
  padding: 0px 150px;
  background-color: #d9d9d9;
  border-radius: 10px;
  user-select: none; }

.description {
  text-align: justify; }

#description-btn,
#additional-info-btn {
  font-size: 20px;
  font-weight: normal; }

/*footer css*/
.horizontal-line {
  border-top: 1px solid #d9d9d9;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px; }

footer {
  margin-top: 5%; }

.footer-wrapper {
  display: flex;
  justify-content: safe;
  align-items: center; }

.img-logo {
  margin-left: 12%; }

.section-wrapper {
  display: flex;
  width: fit-content;
  column-gap: 50%;
  justify-content: space-between;
  margin-left: 20%; }

.link > li,
.help > li {
  padding: 4% 0;
  width: max-content; }

.links-wrapper > h1,
.help-wrapper > h1 {
  font-size: xx-large;
  color: #d9d9d9; }

.copyright-noitice {
  display: flex;
  justify-content: center;
  padding: 2% 0; }
