<footer>
  <div class="horizontal-line"></div>
  <div class="footer-wrapper">
    <div class="img-logo">
      <img src="/imgs/VinaTech Logo.png" alt="" />
    </div>
    <div class="section-wrapper">
      <div class="links-wrapper">
        <h1>Links</h1>
        <ul class="link">
          <li><a href="#">Home</a></li>
          <li><a href="#">Shop</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>

      <div class="help-wrapper">
        <h1>Help</h1>
        <ul class="help">
          <li class="test"><a href="#">Payment Options</a></li>
          <li><a href="#">Returns</a></li>
          <li><a href="#">Privacy Policies</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="horizontal-line"></div>
  <span class="copyright-noitice">2023-24 auto essentials. All rights reverved</span>
</footer>