<div class="menu">
  <div class="logo">
    <a href="/">
        <img src="imgs/logo.png" alt="" class="logo-img" />
    </a>
  </div>
  <div class="menu-item">
    <a href="#">Máy tính</a>
  </div>
  <div class="menu-item">
    <a href="#">Điện thoại</a>
  </div>
  <div class="menu-item">
    <a href="#">Sản phẩm</a>
  </div>
  <div class="search-box">
    <input type="text" placeholder="Tìm kiếm..." />
    <button type="button">Tìm kiếm</button>
  </div>
  <button class="btnLogin" type="button">Đăng nhập</button>
</div>