<div class="account">
  <a>
    <i class="fa-solid fa-user"></i>
  </a>
  <ul class="option-login">
    <li class="item-login my-profile">
      <a href="">Tài khoản của tôi</a>
    </li>
    <li class="item-login manager-login">
      <a href="">Quản lý</a>
    </li>
    <li class="item-login log-out">
      <a href="">Đăng xuất</a>
    </li>
  </ul>
</div>