* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --maxWidth: 1500px;
  --size-img-product: 100px;
}

/* css section 1 --title header-- */
.title-header_container {
  background-image: url(../../public/imgs/background-cart.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0;
  text-align: center;
  font-size: 20px;
}

.title-header_container .tt1 {
  font-size: 50px;
  margin-bottom: 15px;
  color: white;
}

.title-header_container .tt2,
.title-header_container .tt2 i,
.title-header_container .tt2 a {
  color: white;
}

.title-header_container i {
  margin: 0 10px;
}

/* css section 2 --cart-container--- */
/* css lst-product */
.cart_wrapper {
  max-width: var(--maxWidth);
  margin: 0 auto;
  padding: 70px;
}

.table-products {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 18px;
}

.table-products th,
td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
  padding: 30px;
}

.name-column {
  background-color: #fff9e5;
  font-weight: bold;
}

.item-product td {
  padding: 20px 0;
}

.name-product {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.name-product img {
  max-width: var(--size-img-product);
  height: auto;
}

.name-product span {
  margin-top: 10px;
}

.price-product,
.name-product span {
  color: gray;
}

.remove-product i {
  cursor: pointer;
  font-size: 20px;
  color: #fbebb5;
}

.table-products_body .quantity {
  width: 50px;
  padding: 10px;
  font-size: 18px;
}

.table-products_foot .total,
.table-products_foot .total-price {
  font-weight: bold;
}

.table-products_foot .total-price {
  text-align: right;
}

/* css btn buy */
.buy-products a {
  padding: 20px 60px;
  background-color: #fbebb5;
  font-size: 20px;
  border-radius: 15px;
  float: right;
  border: 1px solid black;
  margin: 30px 50px;
}

.buy-products a:hover {
  background-color: #f9e086;
  transition: all 0.1s linear;
}

/* css service-container */
.service-container {
  background-color: #faf4f4;
  padding: 20px 0;
  margin: 100px 0;
}

.wrapper-service {
  max-width: var(--maxWidth);
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
}

.item-service {
  width: 350px;
}

.title-service {
  font-size: 40px;
  font-weight: lighter;
}

.content-service {
  color: gray;
  font-size: 18px;
}
