<main>
  <section class="title-header_container">
    <p class="tt1">Checkout</p>
    <span class="tt2">
      <a href="/">
        Home
        <i class="fa-solid fa-chevron-right"></i>
      </a>
      Phone
    </span>
  </section>
  <section class="checkout-container">
    <div class="checkout-wrapper">
      <div class="delivery-address">
        <div class="title-address">
          <i class="fa-solid fa-location-dot"></i>
          Địa chỉ giao hàng
        </div>
        <form action="/paypal/pay" method="post" class="form-product">
          <label for="name">Tên:</label>
          <input type="text" id="name" name="name" /><br />

          <label for="address">Địa chỉ:</label>
          <input type="text" id="shippingAddress" name="shippingAddress" /><br />

          <label for="city">Thành phố:</label>
          <input type="text" id="city" name="city" /><br />

          <label for="number-phone">Số điện thoại:</label>
          <input type="text" id="number-phone" name="numberPhone" /><br />
           <input type="hidden" id="total-amount" name="totalAmount" value="{{ totalAmount }}" />
          <button type="submit">Place Order</button>
        </form>
      </div>
      <div class="product-container">
        <div class="infor-product">
          <table class="table-product">
            <thead class="product-header">
              <tr>
                <th class="name-column name-product">Sản phẩm</th>
                <th class="name-column quantity-product"></th>
                <th class="name-column subtotal-product">Tổng</th>
              </tr>
            </thead>
            <tbody class="product-body">
              {{#each carts}}
              <tr class="item-product">
                <td class="name">{{productName}}</td>
                <td class="quantity">x {{cartQuantity}}</td>
                <td class="price">{{price}}</td>
              </tr>
              {{/each}}
              <!-- thêm các hàng khác cho sản phẩm khác -->
            </tbody>
            <tfoot class="product-foot">
              <tr>
                <td colspan="2" class="subtotal">Tổng tiền:</td>
                <td class="subtotal-price"></td>
              </tr>
              <tr>
                <td colspan="2" class="total">Tổng:</td>
                <td class="total-price"></td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="payment-method">
          <h2 class="title-payment">Phương thức thanh toán</h2>
          {{!-- <div  method="post" class="payment-options">
            <div class="payment-option">
              <input
                type="radio"
                name="payment-method"
                id="cash-on-delivery"
                value="cash-on-delivery"
                checked
              />
              <label for="cash-on-delivery">Thanh toán tiền mặt</label>
            </div> --}}
            <div class="payment-option">
              <input
                type="radio"
                name="payment-method"
                id="momo"
                value="momo"
              />
              <label for="momo">Thanh toán qua Paypal</label>
            </div>
          </div>
      </div>
    </div>
  </section>
  <section class="service-container">
    <div class="wrapper-service">
      <div class="item-service">
        <h1 class="title-service">Free Delivery</h1>
        <p class="content-service">
          For all oders ovver $50, consectetur adipim scing elit.
        </p>
      </div>
      <div class="item-service">
        <h1 class="title-service">90 Days Return</h1>
        <p class="content-service">
          If goods have problems, consectetur adipim scing elit.
        </p>
      </div>
      <div class="item-service">
        <h1 class="title-service">Secure Payment</h1>
        <p class="content-service">
          100% secure payment, consectetur adipim scing elit.
        </p>
      </div>
    </div>
  </section>
</main>
<script>
document.addEventListener("DOMContentLoaded", () => {
  const totalElement = document.querySelector(".total-price");
  const totalAmountInput = document.querySelector("#total-amount");

  if (totalElement && totalAmountInput) {
    const totalAmount = parseFloat(totalElement.textContent);
    totalAmountInput.value = totalAmount.toFixed(2);
  }
});
</script>
