<h1 class="page-title">Đổi mật khẩu</h1>
<form class="change-password-form" method="POST" action="/Account/forgot-password?_method=PATCH">
  <label class="form-label" for="username">Tên người dùng:</label>
  <input
    class="form-input username-input"
    type="text"
    id="username"
    name="username"
    required
  />
  <label class="form-label" for="new-password">Mật khẩu mới:</label>
  <input
    class="form-input password-input"
    type="password"
    id="new-password"
    name="password"
    required
  />
  <label class="form-label" for="confirm-password">Nhập lại mật khẩu:</label>
  <input
    class="form-input confirm-password-input"
    type="password"
    id="confirm-password"
    name="confirmPassword"
    required
  />
  <button class="form-button change-password-button" type="submit">Đổi mật khẩu</button>
</form>