<main class="main-content">
  <section class="header-container">
    <div class="layout_title"></div>
    <div class="title-header">
      My Account
      <br />
      <span>
        <a class="page-home" href="/">
          Home
          <i class="fa-solid fa-chevron-right"></i>
        </a>
        My account
      </span>
    </div>
  </section>
  <section class="content-main">
    <div class="wrapper-login-regis">
      <div class="login-container">
        <div class="layout-login">
          <div class="title-login">
            <h1>Đăng nhập</h1>
          </div>
          <form action="/Account/login" method="post" id="login-form">
            <div class="username_login">
              <label for="username_login"> Tên người dùng hoặc email </label><br
              />
              <input type="text" id="username_login" name="username_login" />
            </div>
            <div class="password_login">
              <label for="password_login"> Mật khẩu </label><br />
              <input
                type="password"
                id="password_login"
                name="password_login"
              />
            </div>
            <div class="remember-me">
              <input type="checkbox" name="remember" id="remember" />
              <label for="remember">Nhớ tài khoản</label>
            </div>
            <input type="submit" value="Đăng nhập" class="btnLogin" />
            <a class="forgot-password" href="#">Quên mật khẩu?</a>
          </form>
        </div>
      </div>

      <div class="register-container">
        <div class="layout-register">
          <div class="title-register">
            <h1>Đăng ký</h1>
          </div>
          <form action="/Account/signup" method="post" id="register-form">
            <div class="username_register">
              <label for="username_register">
                Tên người dùng
                {{#if errName}}
                  <span class="errInput errName">* Đã có người dùng tên tài
                    khoản này</span>
                {{/if}}
              </label><br />
              <input
                type="text"
                id="username_register"
                name="username_register"
                required
              />
            </div>
            <div class="password_register">
              <label for="password_register">Mật khẩu</label><br />
              <input
                type="password"
                name="password_register"
                id="password_register"
                required
              />
            </div>
            <div class="again_pass">
              <label for="again_pass">
                Nhập lại mật khẩu
                {{#if errPassword}}
                  <span class="errInput errPass">* Mật khẩu không khớp</span>
                {{/if}}
              </label><br />
              <input
                type="password"
                name="again_pass"
                id="again_pass"
                required
              />
            </div>
            <div class="email">
              <label for="email">
                Email
                {{#if errEmail}}
                  <span class="errInput errEmail">* Đã có người dùng email này</span>
                {{/if}}
              </label><br />
              <input
                type="text"
                name="email"
                id="email"
                required
                pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
              />
            </div>
            <div class="fullname">
              <label for="fullname">Họ và Tên</label><br />
              <input type="text" name="fullname" id="fullname" required />
            </div>
            <div class="address">
              <label for="address">Địa chỉ</label><br />
              <input type="text" name="address" id="address" required />
            </div>
            <div class="phonenumber">
              <label for="phonenumber">Phone number</label><br />
              <input type="text" name="phonenumber" id="phonenumber" required />
            </div>
            <input type="submit" value="Đăng ký" class="btnRegister" />
          </form>
        </div>
      </div>
    </div>
  </section>
  <section class="service-container">
    <div class="wrapper-service">
      <div class="item-service">
        <h1 class="title-service">Free Delivery</h1>
        <p class="content-service">
          For all oders ovver $50, consectetur adipim scing elit.
        </p>
      </div>
      <div class="item-service">
        <h1 class="title-service">90 Days Return</h1>
        <p class="content-service">
          If goods have problems, consectetur adipim scing elit.
        </p>
      </div>
      <div class="item-service">
        <h1 class="title-service">Secure Payment</h1>
        <p class="content-service">
          100% secure payment, consectetur adipim scing elit.
        </p>
      </div>
    </div>
  </section>
</main>
{{#if signUpSuccess}}
  <script>
    document.addEventListener("DOMContentLoaded", function () { const
    signUpSuccess = '<%=res.locals.signUpSuccess %>'; if (signUpSuccess) {
    setTimeout(function () { window.alert('Đăng ký thành công!'); }, 500); } });
  </script>
{{/if}}