<nav class="slidebar-container">
  <div class="sidebar-header">
    <p>VINATECH</p>
  </div>
  <div class="web-profile">
    <div class="profile-dtl">
      <div>
        <img src="/imgs/imgProfile.png" alt="" />
      </div>
      <h2>VinaTech</h2>
    </div>
  </div>
  <div class="menu-slidebar_container">
    <ul class="menu-slidebar_wrapper">
      <li class="item-slidebar product-list">
        <a href="">
          <i class="fa-solid fa-list"></i>
          Danh sách sản phẩm
        </a>
      </li>
      <li class="item-slidebar product-category">
        <a href="">
          <i class="fa-solid fa-gears"></i>
          Danh mục sản phẩm
        </a>
      </li>
      <li class="item-slidebar product-cart">
        <a href="">
          <i class="fa-solid fa-cart-shopping"></i>
          Giỏ hàng
        </a>
      </li>
      <li class="item-slidebar product-order">
        <a href="">
          <i class="fa-solid fa-file-invoice"></i>
          Tanh toán sản phẩm
        </a>
      </li>
      <li class="item-slidebar product-review">
        <a href="">
          <i class="fa-solid fa-comment"></i>
          Đánh giá sản phẩm
        </a>
      </li>
      <li class="item-slidebar user-account">
        <a href="">
          <i class="fa-solid fa-user"></i>
          Người dùng
        </a>
      </li>
    </ul>
  </div>
</nav>
{{> productList}}