<main>
  <section class="title-page">
    <div class="title-wrapper">
      <a href="../home/home.html" class="tthome">Home</a>
      <i class="fa-solid fa-angle-right"></i>
      <a href="../shop/shop.html" class="ttShop">Shop</a>
      <i class="fa-solid fa-angle-right"></i>
      <span class="ttProduct">Phone</span>
    </div>
  </section>
  <section class="product-container">
    <div class="product-wrapper">
      <div class="imgs-product">
        <div class="list-img_product">
          <div class="img-item">
            <img src="/imgs/Phone/Sony-Xperia-1-V.png" alt="" />
          </div>
          <div class="img-item">
            <img src="/imgs/Phone/Mask group.png" alt="" />
          </div>
        </div>
        <div class="img-show_container">
          <div class="img-show">
            <img src="" alt="" />
          </div>
          <div class="img-detail">
            <div class="close">
              <i class="fa-solid fa-xmark"></i>
            </div>
            <div class="prev">
              <i class="fa-solid fa-angle-left"></i>
            </div>
            <div class="img-wrapper">
              <img
                src="/imgs/Phone/Sony-Xperia-1-V.png"
                alt=""
                class="img-big"
              />
            </div>
            <div class="next">
              <i class="fa-solid fa-angle-right"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="product-description">
        <p class="name-product">SAMSUNG S23 ULTRA</p>
        <p class="price-product">25.000.000 VND</p>
        <div class="horizontal-line" style="width: 70%"></div>
        <p class="product-overview">
          The S23 Ultra has a Snapdragon 8 Gen 2 chip, a 200MP camera, a 256GB
          storage option, improved speakers, less video cutting in 8K30 videos,
          Victus 2 glass, and an improved battery life.
        </p>
        <div class="horizontal-line" style="width: 70%"></div>

        <div class="selection">
          <label for="size">Size:</label>
          <div class="custom-dropdown">
            <select id="size">
              <option value="size-1">128GB</option>
              <option value="size-2">256GB</option>
              <option value="size-3">1TB</option>
            </select>
          </div>
        </div>

        <div class="selection">
          <label for="color">Color:</label>
          <div class="custom-dropdown">
            <select id="color">
              <option value="color-1">Blue</option>
              <option value="color-2">Purple</option>
              <option value="color-3">White</option>
            </select>
          </div>
        </div>
        <div class="btn-wrapper">
          <div class="add-to-cart">
            <label for="quantity">Quantity:</label>
            <div>
              <div class="quantity-product">
                <input
                  class="quantity"
                  type="number"
                  value="1"
                  min="1"
                  id="quantity"
                  name="quantity"
                />
              </div>
            </div>
          </div>
          <div class="btn-buy">
            <button id="cart-btn" class="active" type="submit">
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="description">
    <div class="description-wrapper">
      <div class="toggle-buttons">
        <button id="description-btn" class="active">Description</button>
        <button id="additional-info-btn">Additional Information</button>
      </div>

      <div id="description-section">
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at est
          vel magna sagittis fringilla eu id dolor. Sed eu varius urna, et
          fringilla nunc. Quisque in ligula ac nunc tincidunt lacinia. Duis in
          tellus ipsum. Donec semper, quam ut eleifend ultrices, tortor urna
          fringilla ex, non faucibus augue neque sed purus. Sed sodales ligula
          ac est ultrices pulvinar. Nunc at congue est. Proin imperdiet arcu
          tellus, a tempus velit maximus vitae.
        </p>
      </div>

      <div id="additional-info-section" style="display: none">
        <ul>
          <li>Size: Large</li>
          <li>Color: Red</li>
          <li>Material: Cotton</li>
          <li>Weight: 200g</li>
        </ul>
      </div>
    </div>
    <div class="front-back view">
      <img
        class="front-img"
        src="/imgs/S23 Ultra Front View.png"
        alt=""
      />
      <img
        class="back-img"
        src="/imgs/S23 Ultra Front View.png"
        alt=""
      />
    </div>
  </section>
</main>