<main>
  <section class="title-header_container">
    <p class="tt1">Products</p>
    <span class="tt2">
      <a href="/home">
        Home
        <i class="fa-solid fa-chevron-right"></i>
      </a>
      Products
    </span>
  </section>
  <section class="lst-product_container">
    <div class="sort-product_wrapper">
      <div class="sort-product">
        <div class="sort-by">
          <p>Xếp theo Tên: A đến Z <i class="fas fa-caret-down"></i></p>
          <ul class="dropdown-sort">
            <li class="item-sort sort-by-product-asc">
              Xếp theo Tên: A đến Z
            </li>
            <li class="item-sort sort-by-product-dsc">
              Xếp theo Tên: Z đến A
            </li>
            <li class="item-sort sort-by-price-asc">
              Xếp theo giá: Thấp đến Cao
            </li>
            <li class="item-sort sort-by-price-dsc">
              Xếp theo giá: Cao đến Thấp
            </li>
            <li class="item-sort sort-by-popularity-asc">
              Xếp theo phổ biến nhất
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="list-products_wrrapper">
      <div class="grid-products">
        {{> productPartials productPartialData}}
      </div>
    </div>
    <div class="pagenumbers" id="panigation">
      {{> panigation productPartialData}}
    </div>
  </section>
  <section class="service-container">
    <div class="wrapper-service">
      <div class="item-service">
        <h1 class="title-service">Free Delivery</h1>
        <p class="content-service">
          For all oders ovver $50, consectetur adipim scing elit.
        </p>
      </div>
      <div class="item-service">
        <h1 class="title-service">90 Days Return</h1>
        <p class="content-service">
          If goods have problems, consectetur adipim scing elit.
        </p>
      </div>
      <div class="item-service">
        <h1 class="title-service">Secure Payment</h1>
        <p class="content-service">
          100% secure payment, consectetur adipim scing elit.
        </p>
      </div>
    </div>
  </section>
</main>