<main>
  <div class="form-container">
    <h1>Thêm loại sản phẩm</h1>
    <form action="/Manager/Category/create" method="POST">
      <div class="form-group">
        <label for="categoryName">Tên sản phẩm:</label>
        <input type="text" name="categoryName" id="categoryName" required />
      </div>
      <div class="form-group">
        <label for="description">Mô tả:</label>
        <input type="text" name="categoryDescription" id="description" required />
      </div>
      <button type="submit">Thêm mới</button>
    </form>
  </div>
</main>